/* 
    Document   : style.css
    Created on : 2012.01.08., 17:12:46
    Author     : gH0StArthour <ghostarthour@gmail.com>
    Description:
        White stylesheet for BTPD-Webui
*/

body {background-color: #fff ;color: #1E90FF; font-family: Tahoma; font-size: 12px;}
#torrent_lista {width: 100%;height: 100%;min-height: 456px;margin-bottom: 35px;}
#torrent_lista th {text-align:center;padding: 1px 5px;color:#000; text-transform: uppercase;border-bottom: 1px dashed #000;}
#torrent_lista td {padding: 1px;border: 1px solid #cacaca;}
#torrent_lista tr:hover {background-color: aliceblue; }
th.torrent_name {font-weight: bold; min-width: 100px;}
th.torrent_speed { font-weight: bold; min-width: 70px;}
.torrent_name { color: #000;min-width: 100px; width: 35%;}
.torrent_name span { cursor: pointer; }
.torrent_speed { min-width: 80px; text-align:right;width:10%;}
.torrent_state { text-align:center; width: 8%;}
.torrent_peers { text-align: right;width:6%}
.torrent_control {color:#000;text-align:center;}
.up, .control-start { color: #0b6919; }
.down, .control-stop, .control-delete { color: #690b0b; }
.size {text-align:right;}
.error { color: red; }
.control-start,.control-stop, .control-delete { cursor: pointer; }
.control-start:hover { color: #2DCE2D; }
.control-stop:hover, .control-delete:hover {color: #FF0000;}
.meter-wrap{ position: fixed; right: 0; bottom:0;}
.meter-wrap,
.meter-value,
.meter-text {width: 100%;height: 25px;}
.meter-wrap,
.meter-value { background: #1A1A1A;}
.meter-value { opacity: .8; left: 0;float: left;}
.meter-text {position: absolute;margin-top: 5px;top:0; left:0;text-align: center;width: 100%;font-size: 12px;font-weight: bold;color: #fff;}
#summary td{ border-top: 2px solid #1A1A1A; padding-top: 5px;}
#summary td.torrent_name { color: coral}
#error { position: absolute; top:10%;left:0;width:100%;background-color:#D60C0C;z-index: 9999; opacity: 0.9;display:none;}
#error p {padding: 10px; ;margin: 5px; text-align:center; font-size: 14px; font-family: Arial;color: #fff;font-weight: bold;}
#details { color: #000; display: none; z-index: 999999; background-color: #fff; position: fixed; top: 2%; left: auto; width: 400px; height: 500px; overflow-y: auto; border: 1px solid #000;}
#details p { float:left; margin: 8px 1px; border: 0;}
#details p.header { font-weight: bold; text-align: left;padding-left: 5px; width: 120px;}
#details h3 { text-align:center; border-bottom: 1px solid #fff; }
.clear { clear:both; }
#overlay {display: none; opacity: 0.8; position: fixed; top: 0; left: 0; background-color: #1A1A1A; z-index: 99999; padding: 0;margin: 0;border: 0;}